aws_region            = "us-east-1"
role_name             = "ProwlerAuditRole"
trusted_principal_arn = "arn:aws:iam::<management-account-id>:role/<security-pipeline-role>"
external_id           = ""
max_session_duration  = 14400

tags = {
  Project = "prowler-aws-security-audit"
  Managed = "terraform"
}
